* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}


.main-wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* display: table; */
}

.clear {
    clear: both;
}

.main-header {
    background: blue;
    width: 100%;
    height: 80px;
}
.main-header {
    margin: 0 200px;
    padding: 0;
}

.main-header .header-left-content{
    float: left;
    width: 50%;
    height: 100%;
    min-height: 80px;
    background: rgb(255, 0, 157);

}
.main-header .header-right-content{
    float: right;
    width: 50%;
    min-height: 80px;
    background: gold;
}

.l_sidebar {
    float: left;
    width: 200px;
    min-height: 800px;
    height: 100%;
    background: red;
    /* display: table-cell; */
}

.r_sidebar {
    float: right;
    width: 200px;
    background: yellow;
    min-height: 800px;
    height: 100%;
    /* display: table-cell; */
}

.main-content {
    background: #ffffff;
    padding: 50px 0 0 52px;
    margin: 0 200px 0 199px;
    min-height: 850px;
    /* display: table-cell; */
    border:2px solid green;
    
}



