* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}

html,
body {
    height: 100%;
}

.main-wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* display: table; */
}

.clear {
    clear: both;
}

.main-header {
    background: blue;
    width: 100%;
    height: 80px;
    position: sticky;
}

.main-header {
    margin: 0 200px;
    padding: 0;
}

.main-header .header-left-content {
    float: left;
    width: 50%;
    height: 100%;
    min-height: 80px;
    background: rgb(255, 0, 157);
}

.main-header .header-right-content {
    float: right;
    width: 50%;
    min-height: 80px;
    background: gold;
}

.l_sidebar {
    float: left;
    width: 200px;
    height: 100%;
    min-height: 800px;
    background: red;
    position: absolute;
    top: 0;
    z-index: -9999;
    bottom: 0;
}

.r_sidebar {
    float: right;
    width: 200px;
    background: yellow;
    height: 100%;
    min-height: 850px;
    z-index: -9999;
    bottom: 0;
    /* display: table-cell; */
}

.main-content {
    background: #ffffff;
    padding: 50px 0 0 52px;
    margin: 0 200px 0 199px;
    min-height: 850px;
    /* display: table-cell; */
    border: 2px solid green;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.page-header h1 {
    font-size: 36px;
    font-weight: 500;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.highlight {
    color: red;
}

.autocomplet-style {
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    outline: none;
    padding: 12px 20px;
    margin: 8px 0;
    width: 80%;
}

.autocomplet-style:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
}