.login-wrapper {
    background-image: url(../../images/moscow.jpg);
    background-position: center center;
    background-size: 100% 100% !important;
    height: 100vh;
}



.is-hide.ng-hide {
    opacity: 0;
    /* transform: scale(0.5,0.5); */
    transform: skew(60deg, 60deg);
}


/* Smartphones (portrait) ---------- */
@media screen and (max-width: 320px){
    .login-box {
        width: 90%;
        height: 500px;
        top: 50%;
        left: 50%;
        background: rgba(0, 0, 0, 0.4);
        transform: translate(-50%, -50%);
        position: absolute;
        box-shadow: 0px 15px 40px rgba(255, 0, 0, .5);
      
    }
   
    .login-box input {
        margin: 60px 0px 30px 20px;
    }
    .login-box input[type="text"],
    .login-box input[type="password"] {
        width: 90%;
        outline: none;
        border: none;
        background: transparent;
        border-bottom: 2px solid #C0392B;
        color: #fff;
        padding: 1px 4px 6px 0px;
    }
    .login-box button {
        margin-bottom: 5px;
    }
    .login-box button.login-button {
        color: #fff;
        font-size: 10px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        
    }
    .login-box button.login-cancel-button i,
    .login-box button.login-button i {
        font-size: 15px !important;
    }
    .login-box button.login-cancel-button:hover,
    .login-box button.login-button:hover {
        background-color: rgba(255, 0, 0, 0.8);
    }
    .login-box button.login-cancel-button {
        color: #fff;
        font-size: 10px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
    }

    .login-box a {
        font-size: 15px;
        text-decoration: none;
        color: #3498DB;
        font-weight: bold;
        margin-bottom: 20px !important;
      
    }
    .login-box .rDIV {
        width: 50%;
        float: right;
        padding: 0 0 0 15px;
    }
    .login-box .lDiv {
        width: 50%;
        float: left;
        padding: 0 0 0 15px;
    }
    .login-box .rDIV_I {
        width: 50%;
        float: right;
        padding: 0 0 0 5px;
    }
    .login-box .lDiv_I {
        width: 50%;
        float: left;
        padding: 0 0 0 5px;
    }
}


@media screen and (min-width: 320px) and (max-width: 480px){
    .login-box {
        width: 84%;
        height: 300px;
        top: 45%;
        left: 50%;
        background: rgba(0, 0, 0, 0.4);
        transform: translate(-50%, -50%);
        position: absolute;
        box-shadow: 0px 15px 40px rgba(0, 0, 0, .5);
       
    }
   
    .login-box input {
        margin: 60px 0px 30px 20px;
    }
    .login-box input[type="text"],
    .login-box input[type="password"] {
        width: 90%;
        outline: none;
        border: none;
        background: transparent;
        border-bottom: 2px solid #C0392B;
        color: #fff;
        padding: 1px 4px 6px 0px;
    }
    .login-box button {
        margin-bottom: 5px;
    }
    .login-box button.login-button {
        color: #fff;
        font-size: 15px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        
    }
    .login-box button.login-button i {
        font-size: 25px !important;
    }
    .login-box button.login-button:hover {
        background-color: rgba(68, 0, 255, 0.8);
    }
    .login-box button.login-cancel-button {
        color: #fff;
        font-size: 15px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
    }
    .login-box button.login-cancel-button i {
        font-size: 25px !important;
    }
    .login-box button.login-cancel-button:hover {
        background-color: rgba(68, 0, 255, 0.8);
    }
    .login-box a {
        font-size: 15px;
        text-decoration: none;
        color: #3498DB;
        font-weight: bold;
        margin-bottom: 20px !important;
        padding: 20px 0 0 20px;
    }
    .login-box .rDIV {
        width: 50%;
        float: right;
        padding: 0 0 0 30px;
    }
    .login-box .lDiv {
        width: 50%;
        float: left;
        padding: 0 0 0 30px;
    }
    .login-box .rDIV_I {
        width: 50%;
        float: right;
        padding: 0 0 0 30px;
    }
    .login-box .lDiv_I {
        width: 50%;
        float: left;
        padding: 0 0 0 30px;
    } 
   
}

@media screen and (min-width:481px) and (max-width:540px) {
    .login-box {
        width: 84%;
        height: 550px;
        top: 50%;
        left: 50%;
        background: rgba(0, 0, 0, 0.4);
        transform: translate(-50%, -50%);
        position: absolute;
        box-shadow: 0px 15px 40px rgba(0, 0, 0, .5);
       
    }
   
    .login-box input {
        margin: 60px 0px 30px 20px;
    }
    .login-box input[type="text"],
    .login-box input[type="password"] {
        width: 90%;
        outline: none;
        border: none;
        background: transparent;
        border-bottom: 2px solid #C0392B;
        color: #fff;
        padding: 1px 4px 6px 0px;
    }
    .login-box button {
        margin-bottom: 5px;
    }
    .login-box button.login-button {
        color: #fff;
        font-size: 15px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        
    }
    .login-box button.login-button i {
        font-size: 25px !important;
    }
    .login-box button.login-button:hover {
        background-color: rgba(68, 0, 255, 0.8);
    }
    .login-box button.login-cancel-button {
        color: #fff;
        font-size: 15px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
    }
    .login-box button.login-cancel-button i {
        font-size: 25px !important;
    }
    .login-box button.login-cancel-button:hover {
        background-color: rgba(68, 0, 255, 0.8);
    }
    .login-box a {
        font-size: 15px;
        text-decoration: none;
        color: #3498DB;
        font-weight: bold;
        margin-bottom: 20px !important;
        padding: 20px 0 0 20px;
    }
    .login-box .rDIV {
        width: 50%;
        float: right;
        padding: 0 0 0 30px;
    }
    .login-box .lDiv {
        width: 50%;
        float: left;
        padding: 0 0 0 30px;
    }
    .login-box .rDIV_I {
        width: 50%;
        float: right;
        padding: 0 0 0 30px;
    }
    .login-box .lDiv_I {
        width: 50%;
        float: left;
        padding: 0 0 0 30px;
    }
}

@media screen and (min-width:541px) and (max-width:768px) {
    .login-wrapper {
        background-size: 100% 100% !important;
        height: 100vh;
    }
    .login-box {
        width: 84%;
        height: 315px;
        top: 50%;
        left: 50%;
        background: rgba(0, 0, 0, 0.4);
        transform: translate(-50%, -50%);
        position: absolute;
        box-shadow: 0px 15px 40px rgba(0, 0, 0, .5);
       
    }
   
    .login-box input {
        margin: 60px 0px 30px 20px;
    }
    .login-box input[type="text"],
    .login-box input[type="password"] {
        width: 90%;
        outline: none;
        border: none;
        background: transparent;
        border-bottom: 2px solid #C0392B;
        color: #fff;
        padding: 1px 4px 6px 0px;
    }
    .login-box button {
        margin-bottom: 5px;
    }
    .login-box button.login-button {
        color: #fff;
        font-size: 15px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        
    }
    .login-box button.login-button i {
        font-size: 25px !important;
    }
    .login-box button.login-button:hover {
        background-color: rgba(68, 0, 255, 0.8);
    }
    .login-box button.login-cancel-button {
        color: #fff;
        font-size: 15px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
    }
    .login-box button.login-cancel-button i {
        font-size: 25px !important;
    }
    .login-box button.login-cancel-button:hover {
        background-color: rgba(68, 0, 255, 0.8);
    }
    .login-box a {
        font-size: 15px;
        text-decoration: none;
        color: #3498DB;
        font-weight: bold;
        margin-bottom: 20px !important;
        padding: 20px 0 0 20px;
    }
    .login-box .rDIV {
        width: 50%;
        float: right;
        padding: 0 0 0 30px;
    }
    .login-box .lDiv {
        width: 50%;
        float: left;
        padding: 0 0 0 30px;
    }
    .login-box .rDIV_I {
        width: 50%;
        float: right;
        padding: 0 0 0 30px;
    }
    .login-box .lDiv_I {
        width: 50%;
        float: left;
        padding: 0 0 0 30px;
    }
   
   
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .login-box {
        width: 80%;
        height: 450px;
        top: 50%;
        left: 50%;
        background: rgba(0, 0, 0, 0.4);
        transform: translate(-50%, -50%);
        position: absolute;
        box-shadow: 0px 15px 40px rgba(0, 0, 0, .5)
        
    }
   
    .login-box input {
        margin: 60px 0px 30px 20px;
    }
    .login-box input[type="text"],
    .login-box input[type="password"] {
        width: 90%;
        outline: none;
        border: none;
        background: transparent;
        border-bottom: 2px solid #C0392B;
        color: #fff;
        padding: 1px 4px 6px 0px;
    }
    .login-box button {
        margin-bottom: 5px;
    }
    .login-box button.login-button {
        color: #fff;
        font-size: 15px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        
    }
    .login-box button.login-cancel-button i,
    .login-box button.login-button i {
        font-size: 25px !important;
    }
    .login-box button.login-button:hover {
        background-color: rgba(68, 0, 255, 0.8);
    }
    .login-box button.login-cancel-button {
        color: #fff;
        font-size: 15px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
    }
    
    .login-box button.login-cancel-button:hover {
        background-color: rgba(68, 0, 255, 0.8);
    }
    .login-box a {
        font-size: 15px;
        text-decoration: none;
        color: #3498DB;
        font-weight: bold;
        margin-bottom: 20px !important;
        padding: 20px 0 0 20px;
    }
    .login-box .rDIV {
        width: 50%;
        float: right;
        padding: 0 0 0 30px;
    }
    .login-box .lDiv {
        width: 50%;
        float: left;
        padding: 0 0 0 30px;
    }
    .login-box .rDIV_I {
        width: 50%;
        float: right;
        padding: 0 0 0 30px;
    }
    .login-box .lDiv_I {
        width: 50%;
        float: left;
        padding: 0 0 0 30px;
    }
}

@media screen and (min-width:1025px) and (max-width:1200px) {
   
    .login-box {
        width: 50%;
        height: 500px;
        top: 50%;
        left: 50%;
        background: rgba(0, 0, 0, 0.4);
        transform: translate(-50%, -50%);
        position: absolute;
        box-shadow: 0px 15px 40px rgba(0, 0, 0, .5);
      
    }
   
    .login-box input {
        margin: 60px 0px 30px 20px;
    }
    .login-box input[type="text"],
    .login-box input[type="password"] {
        width: 90%;
        outline: none;
        border: none;
        background: transparent;
        border-bottom: 2px solid #C0392B;
        color: #fff;
        padding: 1px 4px 6px 0px;
    }
    .login-box button {
        margin-bottom: 5px;
    }
    .login-box button.login-button {
        color: #fff;
        font-size: 15px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        
    }
    .login-box button.login-cancel-button i,
    .login-box button.login-button i {
        font-size: 25px !important;
    }
    .login-box button.login-button:hover {
        background-color: rgba(68, 0, 255, 0.8);
    }
    .login-box button.login-cancel-button {
        color: #fff;
        font-size: 15px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
    }
    
    .login-box button.login-cancel-button:hover {
        background-color: rgba(68, 0, 255, 0.8);
    }
    .login-box a {
        font-size: 15px;
        text-decoration: none;
        color: #3498DB;
        font-weight: bold;
        margin-bottom: 20px !important;
        padding: 20px 0 0 20px;
    }
    .login-box .rDIV {
        width: 50%;
        float: right;
        padding: 0 0 0 30px;
    }
    .login-box .lDiv {
        width: 50%;
        float: left;
        padding: 0 0 0 30px;
    }
    .login-box .rDIV_I {
        width: 50%;
        float: right;
        padding: 0 0 0 30px;
    }
    .login-box .lDiv_I {
        width: 50%;
        float: left;
        padding: 0 0 0 30px;
    }
}

@media screen and (min-width:1201px) {
  
    .login-box {
        width: 35%;
        height: 500px;
        top: 50%;
        left: 50%;
        background: rgba(0, 0, 0, 0.4);
        transform: translate(-50%, -50%);
        position: absolute;
        box-shadow: 0px 15px 40px rgba(0, 0, 0, .5);
        -webkit-transition: all linear 0.5s;
        transition: all linear 0.5s;
    }
   
    .login-box input {
        margin: 60px 0px 30px 20px;
    }
    .login-box input[type="text"],
    .login-box input[type="password"] {
        width: 90%;
        outline: none;
        border: none;
        background: transparent;
        border-bottom: 2px solid #C0392B;
        color: #fff;
        padding: 1px 4px 6px 0px;
    }
    .login-box button {
        margin-bottom: 5px;
    }
    .login-box button.login-button {
        color: #fff;
        font-size: 15px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        
    }
    .login-box button.login-cancel-button i,
    .login-box button.login-button i {
        font-size: 25px !important;
    }
    .login-box button.login-button:hover {
        background-color: rgba(68, 0, 255, 0.8);
    }
    .login-box button.login-cancel-button {
        color: #fff;
        font-size: 15px !important;
        background-color: rgba(255, 204, 0, 0.8);
        cursor: pointer;
        height: 40px;
        width: 70%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
    }
    
    .login-box button.login-cancel-button:hover {
        background-color: rgba(68, 0, 255, 0.8);
    }
    .login-box a {
        font-size: 15px;
        text-decoration: none;
        color: #3498DB;
        font-weight: bold;
        margin-bottom: 20px !important;
        padding: 20px 0 0 20px;
    }
    .login-box .rDIV {
        width: 50%;
        float: right;
        padding: 0 0 0 30px;
    }
    .login-box .lDiv {
        width: 50%;
        float: left;
        padding: 0 0 0 30px;
    }
    .login-box .rDIV_I {
        width: 50%;
        float: right;
        padding: 0 0 0 30px;
    }
    .login-box .lDiv_I {
        width: 50%;
        float: left;
        padding: 0 0 0 30px;
    }
}





.forget-password-box {
    width: 600px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px 0px #000;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.forget-password-box input[type="text"] {
    height: 40px;
    width: 95%;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: 0 0;
    padding: 0px 0 0px 10px;
    margin: 10px 0 0 10px;
}::placeholder {
    color: rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 0;
}
.forget-password-box h1{
    padding: 8px 90px;
    color:#FFFF00!important;
    opacity: 0.5;
}

.forget-password-box p{
    margin: 10px 0 0 90px;
    color:#8E44AD!important;
    opacity: 0.8;
}
.forget-password-box input[type="submit"].reset-password-button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background: #58D68D;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
}

.forget-password-box input[type="submit"].reset-password-button:hover {
    color: #fff;
    background: rgba(202, 215, 14, 0.9) !important;
    
}

.forget-password-box input[type="button"].only-reset-password-button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background: #000;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
}

.forget-password-box input[type="button"].only-reset-password-button:hover {
    color: #fff;
    background: rgba(202, 215, 14, 0.9) !important;
    
}