* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    width: 100%;
}

.main-wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

.clear {
    clear: both;
}


.main-content {
    background: #ffffff;
    padding: 0 0 0 60px;
    margin: 72px 0px 0 200px;
    min-height: 850px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    
}

.page-header h1 {
    font-size: 36px;
    font-weight: 500;
}

hr{
    display: block;
    border: none;
    border-bottom: 2px solid #ccc;
    margin: 1em 0;
    width: 98%;
  
}

.highlight {
    color: red;
}

.autocomplet-style {
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    outline: none;
    padding: 12px 20px;
    margin: 8px 0;
    width: 80%;
}

.autocomplet-style:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
}

label.uploadstyle {
    padding: 10px;
    /* background: linear-gradient(20deg, rgb(41, 114, 8), rgb(225, 231, 226)); */
    background: linear-gradient(to left, rgba(255, 16, 16, 0.5), rgba(255, 0, 0, 1));
    display: table;
    color: #fff;
    width: 300px;
    border: 1px solid green;
}

input[type="file"] {
    display: none;
}

[ng-cloak],.ng-cloak, [data-ng-cloak], [ng\:cloak], [x-ng-cloak], .x-ng-cloak  
{  
    display: block!important;  
} 