<div>

    <div class="login-wrapper">
        <div class="login-box">
            <!-- <span class="title">
                <h1>sign in here</h1>
            </span> -->

            <div class="left-content">
                dasdas
            </div>
            <div class="right-content">
                <form role="form" ng-submit="login(username,password)">
                    <input type="text" id="lUserName" placeholder="Username" class="userbox-box" required autofocus ng-model="username">

                    <input type="password" id="lPassword" placeholder="Password" class="password-box" required ng-model="password">

                    <input type="submit" class="login-button" value="SIGN IN" />
                    <button type="button" class="login-cancel-button">
                        <i class="fa fa-window-restore"></i> CANCEL
                    </button>

                </form>

            </div>
        </div>


    </div>








    <!-- <button type="button" class="login-btn">LOGIN
            <i class="fa fa-adjust"></i>
        </button> -->
</div>