<div>

    <div class="login-wrapper">
        <div class="login-box">
            <!-- <span class="title">
                <h1>sign in here</h1>
            </span> -->

            <div class="left-content">
                dasdas
            </div>
            <div class="right-content">
                <div class="loginFromBox">
                    <form role="form" name="loginFrom" ng-submit="login(username,password)">

                        <p>Username</p>
                        <input type="text" id="lUserName" placeholder="Username" class="userbox-box" required autofocus ng-model="username">
                        <p>Password</p>
                        <input type="password" id="lPassword" placeholder="************" class="password-box" required ng-model="password">

                        <button type="submit" class="login-button">
                            <i class="fa fa-sign-in-alt"></i> SIGN IN
                        </button>
                        <button type="button" class="login-cancel-button">
                            <i class="fa fa-window-restore"></i> CANCEL
                        </button>

                        <a href="#">Reset Password</a>

                    </form>
                </div>

            </div>
        </div>


    </div>








    <!-- <button type="button" class="login-btn">LOGIN
            <i class="fa fa-adjust"></i>
        </button> -->
</div>